.infoarea .col {
    cursor:pointer;
}

.infoarea .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
}

.infoarea .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";
    margin-right: 0;
}